# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore virtual environment folders
venv/
env/

# Ignore the Django migrations folder (optional)
*/migrations/

# Ignore IDE/editor configuration files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore local configuration files
*.env
.env.*

# Ignore static files generated during collectstatic
/staticfiles/

# Ignore unnecessary OS files
.DS_Store
Thumbs.db

# Ignore Git files
.git
.gitignore

# Ignore Docker-related files if they are not needed inside the container
docker-compose.yml
